@{
	ViewData["Title"] = "Home Page";
}

<div class="row">
	<div class="col">
		<hi> Welcome. Please login</hi>
		<a asp-action="Login" asp-controller="User" class="btn btn-primary">Go to login page</a>
	</div>
</div>
