@model FamiliBudget.App.Infrastructure.Auth.LoginModel

<div class="row">
	<div class="col">
		<h1 class="display-4">Welcome to Famili Budget App. Please login to begin</h1>
		<form asp-action="Login" method="post">
			<div class="mb-2">
				<label asp-for="UserName"></label>
				<input type="text" asp-for="UserName" class="form-control" />
				<span asp-validation-for="UserName"></span>
			</div>
			<div class="mb-2">
				<label asp-for="Password"></label>
				<input type="password" asp-for="Password" class="form-control" />
				<span asp-validation-for="Password"></span>
			</div>
			<div class="mb-2">
				<button type="submit" class="btn btn-primary">Login</button>
			</div>
		</form>
	</div>
</div>

